/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1280px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
} */

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 1px;
}

a:hover,
a:active {
    color: #555;
}

.logo {
    width: auto;
    float: left;
    margin-top: 3%;
    color:#fff
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* ----- BUTTONS ----- */

.btn {
    display: inline-block;
    border: 1px solid #18A0FB;
    text-decoration: none;
}

.btn-nav {
    width: 120px;
    height: 40px;
    color: #fff;
    font-weight: 300;
    border-radius: 8px;
}

.btn-nav-ghost {
    margin-left: -40px;
}

.btn-full {
    background-color: #18A0FB;
}

.btn-ghost {
    background-color: #1B262C;
    color: #18A0FB;
}

.btn-full:hover,
.btn-full:active {
    background-color: #0075b4;
    border: #0075b4;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #0060a0;
    border: #0060a0;
    color: #fff;
}

/* Main navi */
nav {
    background-color: #1B262C;
}

.main-nav {
    float: right;
    list-style: none;
    margin: 20px 10px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav a {
    padding: 0%;
    font-size: 18px;
}

/* Error Message */

.errormsg {
    float: right;
    font-size: 18px;
    color: red;
}

.reqcolor{
    display: inline;
    color: #fab32e;
}

/* Login */

.overlaybg {
    background: linear-gradient(to right, #005c96, 60%, #6fc5f0);
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 10;
}

.login .center-form {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    width: 1080px;
    height: 60vh;
    padding: 20px 30px;
    background: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* Background */
.login .center-form {
    background-image: url("/PTS-thesis/static/loginbg2.jpg");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    transform: translate(-50%,-50%) scale(1);
}

/* Container and Design for Elements */
.login .center-form .container-login {
    width: 50%;
    float: right;
    padding-left: 20px;
    margin-top: 5%;
}

.login .center-form h2 {
    text-align: left;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.login .center-form .form-element{
    margin: 15px 0px;
}

.login .form-style .form-element{
    margin: 15px 0px;
}

.login .form-style .form-element label {
    font-size: 14px;
    color: #222;
}

.login .form-style .form-element input[type="text"],
.login .form-style .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login .form-style .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #0084ff;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.login .form-style .form-element .btnsignup {
    background: #32a5f1;
}

.login .form-style .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color:#5fa3df;
    text-decoration: none;
    font-weight: 300;
}

/* --------- Register --------- */

.signup .center-form-signup {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 1280px;
    height: 74vh;
    padding: 5px 30px;
    background: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

/* Background */
.signup .center-form-signup {
    background-image: url("/PTS-thesis/static/registerbg2.jpg");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    transform: translate(-50%,-50%) scale(1);
}

/* Container and Design for Elements */
.signup .center-form-signup .container-signup {
    width: 50%;
    float: right;
    padding-left: 20px;
    margin-top: 2%;
}

.signup .center-form-signup h2 {
    text-align: left;
    color: #222;
    margin: 5px 0px;
    font-size: 30px;
}

.signup .center-form-signup .form-element{
    margin: 1px 0px;
}

.signup .form-style .form-element{
    margin: 15px 0px;
}

.signup .form-style .form-element label {
    font-size: 14px;
    color: #222;
}

.signup .form-style .form-element #fname,
.signup .form-style .form-element #lname {
    display: block;
    width: 100%;
}

.signup .form-style .form-element input[type="text"],
.signup .form-style .form-element input[type="password"],
.signup .form-style .form-element input[type="email"],
.signup .form-style .form-element input[type="email"],
.signup .form-style .form-element input[type="username"],
.signup .form-style .form-element select {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signup .form-style .form-element .form-inline {
    width: 49.5%;
    margin-right: 0.5%;
    margin-bottom: 3%;
    float: left;
}

.signup .form-style .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #0084ff;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.signup .form-style .form-element .btnsignup {
    background: #32a5f1;
}

.signup .form-style .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color:#5fa3df;
    text-decoration: none;
    font-weight: 300;
}

.signup .form-style .terms-container {
    margin: 15px 0px;
}

.signup .form-style .terms-container label {
    font-size: 16px;
    color: #222;
}

.signup .form-style .terms-container label input {
    margin-top: 2px;
    margin-right: 7px;
}

.signup .form-style .terms-container a {
    display: inline;
    font-size: 16px;
    color:#5fa3df;
    text-decoration: none;
    font-weight: 300;
}

.signup .form-style .signup-footer p {
    font-size: 16px;
}

.signup .form-style .signup-footer a {
    display: inline;
    font-size: 16px;
    color:#5fa3df;
    text-decoration: none;
    font-weight: 600;
}

/* Two-Step Verification */

.twofactor .center-form-twofactor {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    width: 1080px;
    height: 60vh;
    padding: 20px 30px;
    background: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* Background */
.twofactor .center-form-twofactor {
    background-image: url("/PTS-thesis/static/twofactorbg.jpg");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    transform: translate(-50%,-50%) scale(1);
}

/* Container and Design for Elements */
.twofactor .center-form-twofactor .container-twofactor {
    width: 50%;
    float: right;
    padding-left: 20px;
    margin-top: 5%;
}

.twofactor .center-form-twofactor h2 {
    text-align: left;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.twofactor .center-form-twofactor .form-element{
    margin: 15px 0px;
}

.twofactor .form-style .form-element{
    margin: 15px 0px;
}

.twofactor .form-style .form-element label {
    font-size: 14px;
    color: #222;
}

.twofactor .form-style .form-element input[type="text"],
.twofactor .form-style .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.twofactor .form-style .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #0084ff;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.twofactor .form-style .form-element .btnsignup {
    background: #32a5f1;
}

.twofactor .form-style .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color:#5fa3df;
    text-decoration: none;
    font-weight: 300;
}