/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  min-height: 100%;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
} */

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  color: #ecf0f1;
  text-decoration: none;
  padding-bottom: 1px;
}

a:hover,
a:active {
  color: #0099ff;
}

.logo {
  float: left;
  margin: 20px 0;
  color: #fff;
}

.logo h2 {
  margin: 0;
}

.logo-blue {
  color: #0099ff;
  font-weight: 500;
  display: inline;
  font-size: 40px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* ----- BUTTONS ----- */

.btn {
  display: inline-block;
  border: 1px solid #18a0fb;
  text-decoration: none;
}

.btn-table {
  width: 40px;
  height: 40px;
  border: 1px solid #18a0fb;
  border-radius: 8px;
  text-decoration: none;
}

.btn-table {
  margin-right: 4px;
}

.btn-table:nth-child(4) {
  margin-right: 0px;
}

.btn-table i {
  font-size: 20px;
  color: #ffffff;
}

.btn-table-mb {
  border: 1px solid #009ba0;
  background-color: #009ba0;
}

.btn-table-red {
  border: 1px solid #ce1111;
  background-color: #ce1111;
}

.btn-table-grn {
  border: 1px solid #00a700;
  background-color: #00a700;
}

.btn-table-grn:hover,
.btn-table-grn:active {
  border: 1px solid #007000;
  background-color: #007000;
}

.btn-table-mb:hover,
.btn-table-mb:active {
  border: 1px solid #006669;
  background-color: #006669;
}

.btn-table-red:hover,
.btn-table-red:active {
  border: 1px solid #8b0e27;
  background-color: #8b0e27;
}

.btn-nav {
  width: 120px;
  height: 40px;
  color: #fff;
  font-weight: 300;
  border-radius: 8px;
}

.btn-nav-ghost {
  margin-left: -40px;
}

.btn-full {
  background-color: #18a0fb;
}

.btn-ghost {
  background-color: #1b262c;
  color: #18a0fb;
}

.btn-ghost2 {
  border: 1px solid #00dce4;
  background-color: #00dce4;
  color: #ffffff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #0075b4;
  border: #0075b4;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #0060a0;
  border: #0060a0;
  color: #fff;
}

.btn-ghost2:hover,
.btn-ghost2:active {
  background-color: #009ba0;
  border: #009ba0;
  color: #fff;
}

/* Webkit Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* Main navi */
.not-loggedin {
  background-color: #1b262c;
}

.nav-loggedin {
  background-color: #1b262c;
}

.main-nav {
  float: right;
  list-style: none;
  margin: 20px 0px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}

.main-nav a {
  padding: 0%;
  font-size: 18px;
}

/* Error Message */

.errormsg {
  float: right;
  font-size: 16px;
  color: red;
}

.reqcolor {
  display: inline;
  color: #fab32e;
}

/* Footer */

.footer-container {
  background-color: #0f4c75;
  height: 339px;
  padding: 2.2% 0;
}

.footer-container hr {
  max-width: 1280px;
  margin: 20px auto;
}

.footer-container p,
.footer-container h3 {
  color: #f5f0f0;
  text-transform: uppercase;
}

.footer-container p {
  font-size: 16px;
}

.footer-container li {
  font-size: 16px;
  line-height: 30px;
}

.footer-container .footer-logo {
  display: block;
  float: left;
  width: 60%;
}

.footer-nav {
  display: block;
  float: right;
  width: 13%;
}

.footer-nav .nav-title {
  font-weight: 600;
}

.footer-container .footer-nav .nav-links {
  list-style: none;
  margin-top: 2px;
}

.btn-style {
  display: block;
  float: right;
  margin-top: 10px;
}

.btn-style:nth-child(2) {
  margin-left: 10px;
}

.copy-right {
  text-align: center;
  color: #f5f0f0;
}

/* Icons */

.gg-box {
  --ggs: 3;
  margin: 0px 20px 30px;
}

.gg-laptop {
  --ggs: 3;
  margin: 0px 20px 40px;
}

.icon-white {
  color: #f5f5f5;
}

.services-content img {
  width: 20px;
  height: 30px;
  transform: scale(3);
  margin: 0px 20px 30px;
}

/* Login */

.overlaybg {
  background: linear-gradient(to right, #005c96, 80%, #6fc5f0);
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 10;
}

.login .center-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 1080px;
  height: 60vh;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Background */
.login .center-form {
  background-image: url("/PTS-thesis/static/loginbg2.jpg");
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  transform: translate(-50%, -50%) scale(1);
}

/* Container and Design for Elements */
.login .center-form .container-login {
  width: 50%;
  float: right;
  padding: 6.9% 20px;
}

.login .center-form h2 {
  text-align: left;
  color: #222;
  margin: 0px auto 20px;
  font-size: 25px;
}

.login .center-form .form-element {
  margin: 15px 0px;
}

.login .form-style .form-element label {
  font-size: 14px;
  color: #222;
}

.login .form-style .form-element input[type="text"],
.login .form-style .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.login .form-style .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #0084ff;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.login .form-style .form-element .btnsignup {
  background: #32a5f1;
}

.login .form-style .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}

/* --------- Register --------- */

.signup .center-form-signup {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 1280px;
  height: 76vh;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

/* Background */
.signup .center-form-signup {
  background-image: url("/PTS-thesis/static/registerbg2.jpg");
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  transform: translate(-50%, -50%) scale(1);
}

/* Container and Design for Elements */
.signup .center-form-signup .container-signup {
  width: 50%;
  float: right;
  padding: 2.9% 20px;
}

.signup .center-form-signup h2 {
  text-align: left;
  color: #222;
  margin: 5px 0px;
  font-size: 30px;
}

.signup .form-style .form-element input[type="password"] {
  margin-bottom: 30px;
}

.signup .form-style .form-element small#errorpwd,
.signup .form-style .form-element small#errorpwd2 {
  margin-top: -30px;
}

.signup .form-style .form-element small#agreeid {
  margin-top: 6px;
}

.signup .form-style .form-element {
  margin: 0px auto 15px;
}

.signup .form-style .form-element label {
  font-size: 14px;
  color: #222;
}

.signup .form-style .form-element #fname,
.signup .form-style .form-element #lname {
  display: block;
  width: 100%;
}

.signup .form-style .form-element input[type="text"],
.signup .form-style .form-element input[type="password"],
.signup .form-style .form-element input[type="email"],
.signup .form-style .form-element input[type="username"],
.signup .form-style .form-element select {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.signup .form-style .form-element .form-inline {
  width: 49.5%;
  margin-right: 0.5%;
  margin-bottom: 3%;
  float: left;
}

.signup .form-style .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #0084ff;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.signup .form-style .form-element .btnsignup {
  background: #32a5f1;
}

.signup .form-style .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}

.signup .form-style .terms-container {
  margin: 15px 0px;
}

.signup .form-style .terms-container label {
  font-size: 16px;
  color: #222;
}

.signup .form-style .terms-container label input {
  margin-top: 2px;
  margin-right: 7px;
}

.signup .form-style .terms-container a {
  display: inline;
  font-size: 16px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}

.signup .form-style .signup-footer p {
  font-size: 16px;
}

.signup .form-style .signup-footer a {
  display: inline;
  font-size: 16px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 600;
}

.signup .form-style .form-element .inline-item-1 {
  display: inline-block;
  width: 49%;
  margin-right: 6px;
}
.signup .form-style .form-element .inline-item-2 {
  display: inline-block;
  width: 49%;
}

.signup .form-style .form-element .inline-item-3 {
  display: inline-block;
  width: 28%;
  margin-right: 5px;
}

.signup .form-style .form-element .inline-item-4 {
  display: inline-block;
  width: 70%;
}

.signup .form-style .form-element .inline-item-5 {
  display: inline-block;
  width: 10%;
}

.signup .form-style .form-element .inline-item-6 {
  display: inline-block;
  width: 40%;
}

.signup .form-style .form-element .inline-item-7 {
  display: inline-block;
  width: 15%;
  margin-right: 2px;
}

.signup .form-style .form-element .inline-item-8 {
  display: inline-block;
}

.signup .form-style small {
  font-size: 14px;
  position: absolute;
  color: rgb(182, 0, 0);
  font-weight: 400;
}

/* Two-Step Verification */

.twofactor .center-form-twofactor {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 1080px;
  height: 60vh;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Background */
.twofactor .center-form-twofactor {
  background-image: url("/PTS-thesis/static/twofactorbg.jpg");
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  transform: translate(-50%, -50%) scale(1);
}

/* Container and Design for Elements */
.twofactor .center-form-twofactor .container-twofactor {
  width: 50%;
  float: right;
  padding: 13.8% 20px;
}

.twofactor .center-form-twofactor h2 {
  text-align: left;
  color: #222;
  margin: 0px 0px 20px;
  font-size: 25px;
}

.twofactor .center-form-twofactor .form-element {
  margin: 15px 0px;
}

.twofactor .form-style .form-element label {
  font-size: 14px;
  color: #222;
}

.twofactor .form-style .form-element input[type="text"],
.twofactor .form-style .form-element input[type="twofactorcode"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.twofactor .form-style .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #0084ff;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.twofactor .form-style .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}
.twofactor .form-style small {
  font-size: 14px;
  position: absolute;
  color: rgb(182, 0, 0);
  font-weight: 400;
}

.twofactor .form-style small#errortwo {
  margin-top: -25px;
}

.twofactor .form-style input#twofactorcode {
  margin-bottom: 25px;
}

.request .center-form-request {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 1080px;
  height: 60vh;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Background */
.request .center-form-request {
  background-image: url("/PTS-thesis/static/requestbg.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  transform: translate(-50%, -50%) scale(1);
}

/* Container and Design for Elements */
.request .center-form-request .container-request {
  width: 50%;
  float: right;
  padding: 16.8% 20px;
}

.request .center-form-request h2 {
  text-align: left;
  color: #222;
  margin: 0px 0px 20px;
  font-size: 25px;
}

.request .center-form-request .form-element {
  margin: 15px 0px;
}

.request .form-style .form-element label {
  font-size: 14px;
  color: #222;
}

.request .form-style .form-element input[type="text"],
.request .form-style .form-element input[type="email"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.request .form-style .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #0084ff;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.request .form-style .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}

/* Submit Change Password Form */

.changepass .center-form-changepass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 1080px;
  height: 60vh;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Background */
.changepass .center-form-changepass {
  background-image: url("/PTS-thesis/static/changepassbg.jpg");
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  transform: translate(-50%, -50%) scale(1);
}

/* Container and Design for Elements */
.changepass .center-form-changepass .container-changepass {
  width: 50%;
  float: right;
  padding: 11.6% 20px;
}

.changepass .center-form-changepass h2 {
  text-align: left;
  color: #222;
  margin: 0px 0px 20px;
  font-size: 25px;
}

.changepass .center-form-changepass .form-element {
  margin: 15px 0px;
}

.changepass .form-style .form-element label {
  font-size: 14px;
  color: #222;
}

.changepass .form-style .form-element input[type="text"],
.changepass .form-style .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.changepass .form-style .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #0084ff;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.changepass .form-style .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}

.changepass .form-style .form-element input#password,
.changepass .form-style .form-element input#password2 {
  margin-bottom: 30px;
}

.changepass .form-style small#changepass,
.changepass .form-style small#changepass2 {
  margin-top: -30px;
}

.changepass .form-style small {
  font-size: 12px;
  position: absolute;
  color: rgb(182, 0, 0);
}

/* -------------------------- User Profile -------------------------- */

section {
  margin: 0;
  padding: 0;
}

.userprofile {
  max-width: 1280px;
  min-height: 200vh;
}

.userprofile .profile-conainter {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

/* Section My Profile */

.row .item--1 {
  display: block;
  float: left;
}

.row .item--2 hr {
  display: block;
  float: left;
  width: 80%;
  margin-left: 20px;
  margin-top: 19px;
}

.row .item--3 img {
  display: block;
  float: left;
  width: 361px;
  height: 361px;
  object-fit: cover;
  background-position-x: center;
  background-position-y: 10%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 20px;
}

.row .item--4 {
  display: block;
  float: left;
  margin-left: 80px;
}

.row .item--5 hr {
  display: block;
  float: left;
  width: 69%;
  margin-left: 20px;
  margin-top: 19px;
}

.row .item--6 hr {
  display: block;
  float: left;
  width: 83%;
  margin-left: 20px;
  margin-top: 19px;
}

.userprofile .profile-conainter .section-myprofile .row p {
  margin: 4px 0px;
}

.row .item--4 .profile-name p {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  text-transform: capitalize;
}

.row .item--4 .profile-role p {
  font-size: 25px;
  font-weight: 500;
  color: #4aa5fa;
}

.row .item--4 .general-info {
  margin: 20px 0;
}

.row .item--4 .general-info p {
  font-size: 20px;
  font-weight: 300;
}

.gi-item p,
.gi-item i {
  display: inline-block;
  margin: 6px 0;
}

.gi-item p#gi-p {
  margin-left: 10px;
}

.section-myprofile {
  margin: 3% auto 0% auto;
}

.section-aboutme {
  margin: 3% auto;
  background: #001827;
  height: 40vh;
  color: rgb(247, 247, 247);
}

.header-space {
  padding: 3% 0;
}

.section-enrolled {
  margin: 3% auto;
}

/* --------------- Cards --------------- */

.section-enrolled .grid-container {
  display: flex;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: inherit;
  flex-direction: row;
}

.grid-container .card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.grid-container .card .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.grid-container .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
}

.card .card-body p {
  font-size: 16px;
}

.card .card-body .tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  margin-top: 20px;
}

.cl-container .card .card-body .tag {
  margin-top: 15px;
}

.card .card-body .tag-blue {
  background-color: #005c96;
}

.card .card-body .card-title {
  margin: 20px 0 -5px;
}

.cl-container .card .card-body .card-title {
  margin: 10px 0 -5px;
}

.card .card-body .card-desc {
  margin: 20px 0;
  color: #545d7a;
}

.cl-container .card .card-body .card-desc {
  margin: 10px 0;
  color: #545d7a;
}

.grid-container .card .card-footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 0 20px;
}

.grid-container .card .card-footer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px 20px;
}

.card .card-footer .footer-info {
  margin-top: 15px;
}

/* EDIT PROFILE */

.overlay-new {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.726);
}

.edit-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.25);
  width: 900px;
  height: 70vh;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.am-modal--01 .edit-profile {
  height: 62vh;
  transform: translate(-50%, -50%) scale(1.25);
}

.am-modal--02 .edit-profile {
  height: 55vh;
  width: 500px;
  transform: translate(-50%, -50%) scale(1.25);
}

.am-modal--03 .edit-profile {
  height: 70%;
  width: 1280px;
  transform: translate(-50%, -50%) scale(1.1);
}

.am-modal--04 .edit-profile {
  height: 200px;
  width: 400px;
  transform: translate(-50%, -50%) scale(1);
}

.cc-modal--01 .edit-profile {
  height: 600px;
  width: 1000px;
  transform: translate(-50%, -50%) scale(1.25);
}

/* Container and Design for Elements */
.edit-profile .container-edit {
  width: 50%;
  padding: 0 20px;
  float: right;
  display: block;
}

/* Account Management Modals */

.am-modal--02 .edit-profile .container-edit {
  width: 100%;
  padding: 0 20px;
  display: block;
}

.am-modal--03 .edit-profile .container-edit {
  width: 100%;
  padding: 20px 0;
  display: block;
}

.am-modal--04 .edit-profile .container-edit {
  width: 100%;
  padding: 20px 0;
  display: block;
}

.cc-modal--01 .edit-profile .container-edit {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.cc-modal--01 .edit-profile .form-style,
.cc-modal--01 .edit-profile .container-edit {
  padding: 0 0 10px;
  width: 100%;
}

.cc-modal--01 .form-element button {
  width: 100%;
  margin: 0;
}

.edit-profile .container-edit-left {
  width: 50%;
  padding: 0 20px;
  float: left;
  display: block;
}

.edit-profile h2 {
  text-align: left;
  color: #222;
  margin-bottom: 10px;
  font-size: 25px;
}

.am-modal--03 .form-element:nth-child(1) {
  margin: 10px 0;
}

.edit-profile .form-element,
.container-edit-profile .form-element {
  margin: 0px 0px 10px;
}

.ccr-container .form-style .form-element label,
.edit-profile .form-style .form-element label,
.container-edit-left .form-element label {
  font-size: 12px;
  color: #222;
}

.edit-profile .form-style .form-element input[type="birthday"] {
  height: 37px;
}

.ccr-step--02 .table-container input[type="text"],
.ccr-step--02 .table-container input[type="number"],
.ccr-step--02 .table-container select,
.ccr-container .form-style .form-element input[type="number"],
.ccr-container .form-style .form-element input[type="text"],
.edit-profile .form-style .form-element input[type="text"],
.edit-profile .form-style .form-element input[type="number"],
.container-edit-left .form-element input[type="text"],
.container-edit-left .form-element input[type="password"],
.container-edit .form-element input[type="file"],
.container-edit-left .form-element input[type="file"],
.container-edit-left .form-element input[type="email"],
.edit-profile .form-element input[type="email"],
.edit-profile .form-style .form-element input[type="date"],
.edit-profile .form-style .form-element input[type="birthday"],
.edit-profile .form-style .form-element select,
.ccr-container .form-style .form-element select,
.ccr-container .form-style .form-element textarea,
.edit-profile .form-style .form-element textarea {
  font: inherit;
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 12px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.ccr-step--02 .table-container select,
.ccr-step--02 .table-container input[type="number"],
.ccr-step--02 .table-container input[type="text"] {
  height: 40px;
  width: 90%;
}

.edit-profile
  .form-style
  .form-element
  input[type="date"]::-webkit-calendar-picker-indicator {
  width: 10px;
  height: 10px;
  border-width: thin;
}

.ccr-container .form-style .form-element textarea,
.edit-profile .form-style .form-element textarea {
  height: 100px;
  resize: none;
}

.edit-profile .form-style .form-element .inline-item-1,
.container-edit-left .form-element .inline-item-1 {
  display: inline-block;
  width: 48%;
  margin-right: 9px;
}
.edit-profile .form-style .form-element .inline-item-2,
.container-edit-left .form-element .inline-item-2 {
  display: inline-block;
  width: 48%;
}

.edit-profile .form-style .form-element .inline-item-3 {
  display: inline-block;
  width: 30%;
  margin-right: 9px;
}

.edit-profile .form-style .form-element .inline-item-4 {
  display: inline-block;
  width: 48%;
  margin-right: 9px;
}

.edit-profile .form-style .form-element .inline-item-5 {
  display: inline-block;
  height: auto;
  width: 14%;
}

.container-edit-left .form-element .inline-item-8,
.container-edit-left .form-element .inline-item-3 {
  display: inline-block;
  width: 30%;
  margin-right: 13px;
}

.container-edit-left .form-element .inline-item-9,
.container-edit-left .form-element .inline-item-4 {
  display: inline-block;
  width: 65%;
}
.container-edit-left .form-element .inline-item-7,
.container-edit-left .form-element .inline-item-6,
.container-edit-left .form-element .inline-item-5 {
  display: inline-block;
  width: 30.68%;
  margin-right: 10px;
}

.container-edit-left .form-element .inline-item-7 {
  margin-right: 0;
}

.edit-profile .container-edit .form-style .form-element a {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #5fa3df;
  text-decoration: none;
  font-weight: 300;
}
.edit-profile .container-edit .close-btn04,
.edit-profile .close-btn03,
.edit-profile .container-edit .close-btn02,
.edit-profile .container-edit .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: rgb(46, 46, 46);
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.form-element .btn-edit {
  width: 100%;
  margin: 5px 0;
}

.container-edit-left .form-element img {
  display: block;
  width: 161px;
  height: 161px;
  object-fit: cover;
  margin: auto 30%;
  background-position-x: center;
  background-position-y: 10%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* -------------------------- About Us & FAQ -------------------------- */

.aboutus {
  max-width: 1280px;
  min-height: 3100.8px;
}

.aboutus-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

/* ------ Sections ------ */

.section--1 {
  background: linear-gradient(#001827cb, #001827ad),
    url("/PTS-thesis/static/aboutusbg03.jpg");
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.section--2 {
  background: #eeeeeef3;
  height: 65vh;
  padding: 123px 0;
}

.section--3 {
  background: #1b262c;
  height: 70vh;
  padding: 5% 0;
}

.section--4 {
  background: #eeeeeef3;
  height: 65vh;
  padding: 3% 0;
}

.section--5 {
  background: linear-gradient(#00182798, #00182754),
    url("/PTS-thesis/static/mission.jpg");
  background-size: cover;
  background-position: center;
  height: 45vh;
  padding: 6% 0;
}

.section--6 {
  background: linear-gradient(#00182785, #0018274b),
    url("/PTS-thesis/static/vision.jpg");
  background-size: cover;
  height: 45vh;
  padding: 6% 0;
}

.section--5:hover {
  background: linear-gradient(#001827, #001827e0),
    url("/PTS-thesis/static/mission.jpg");
  background-size: cover;
  background-position: center;
}

.section--6:hover {
  background: linear-gradient(#001827, #001827b6),
    url("/PTS-thesis/static/vision.jpg");
  background-size: cover;
  background-position: center;
}

/* ------ Header-Section 01 ------ */

.section--1 h2#sec-1-title,
.faqsection--1 h2#sec-1-title {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
}

.section--1 h3#sec-1-title,
.faqsection--1 h3#sec-1-title {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
}

.section--1 .section--1-content,
.faqsection--1 .section--1-content {
  padding: 99px 0;
}

/* ------ Title-Section ------ */

.title-container {
  padding-bottom: 15px;
  text-align: center;
}

.title-container h2 {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 10px;
}

.title-container h2#title--1 {
  color: #414141;
}

.title-container h2#title--2 {
  color: #dddddd;
}

.title-container p#number {
  z-index: -1;
  margin-top: -120px;
  font-size: 100px;
  font-weight: 400;
  font-family: sans-serif;
  opacity: 0.2;
}

.section--2 .title-container h2#title--1,
.section--2 .content-container p,
.section--2 .services-content {
  color: #2c2c2c;
}

.section--5 .content-container p,
.section--5 .title-container h2#title--1,
.section--6 .content-container p,
.section--6 .title-container h2#title--1 {
  color: #f5f0f0;
}

.section--5 .title-container p#number,
.section--6 .title-container p#number {
  opacity: 0.3;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section--1-content {
  max-width: 1280px;
  margin: 0 auto;
}

.content-container p {
  color: #000000;
  word-spacing: 10px;
  text-align: center;
  line-height: 50px;
  margin: 0 60px;
}

/* ------ About Us Cards ------ */
.section--3 .grid-container {
  display: flex;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 16.6%;
}

.card .card-body .tag-blue {
  background-color: #005c96;
}

.card .card-body .tag-cyan {
  background-color: #00dce4;
}

.card-header img#ourteam03 {
  background-position: top;
}

/* ------ Services ------ */

.section--4 .services-content {
  max-width: 1280px;
  margin: 30px auto;
}

/* ------ FAQ Page ------ */

.faqsection--1 {
  background: linear-gradient(#001827cb, #001827ad),
    url("/PTS-thesis/static/aboutusbg02.jpg");
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.faqsection--2 {
  background: #eeeeeef3;
  height: 65vh;
  padding: 100px 0;
}

.faqsection--3 {
  background: #1b262c;
  height: 70vh;
  padding: 5% 0;
}

/* ------------ Landing Page ------------ */

.landing-page {
  min-height: 1259.7px;
  background: #ecf0f1;
}

.landing-page .lp-container {
  display: flex;
  max-width: 1280px;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  gap: 30px;
}

/* Sections */

.lp-section--1,
.lp-section--2,
.lp-section--3 {
  background: #ecf0f1;
}

.lp-section--1 {
  height: 310px;
}

.lp-section--2 {
  height: 90vh;
  padding: 0;
}

/* .hor-line {
  border: 3px solid;
  color: #0099ff;
  width: 60px;
} */

/* Banner-LP */

.banner--container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 310px;
}

.banner--container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  display: block;
}

.banner--content {
  width: 100%;
  height: 32vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  background-size: 3px 3px;
  padding: 9% 20px;
  z-index: 2;
  align-items: center;
}

.banner--content h2,
.banner--content h3 {
  color: #ecf0f1;
  text-align: left;
  margin-bottom: 0;
  display: block;
}

.banner--content h2 {
  padding-bottom: 0;
  font-weight: 500;
}

.banner--content h3 {
  padding-top: 5px;
}

/* Cards - LP */

.lp-section--2 .grid-container {
  display: flex;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px auto;
}

/* Search Bar */

.search-container {
  width: 1280px;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}

.am-modal--03 .search-container {
  width: 1200px;
}

.cc-header .search-container {
  width: 460px;
}

.search--item--1 {
  /* flex:1 1 auto; */
  flex-grow: 0;
  align-self: auto;
}

.search--item--2 {
  /* flex:4 1 auto; */
  order: 0;
  flex-grow: 20;
  align-self: auto;
}

.search--item--3 {
  /* flex:2 1 auto; */
  flex-grow: 0;
  align-self: auto;
}

.search--item--4 {
  /* flex:1 1 auto; */
  flex-grow: 0;
  align-self: auto;
}

.search--item--5 {
  /* flex:1 1 auto; */
  flex-grow: 0;
  align-self: auto;
}

.search--item--6 {
  /* flex:1 1 auto; */
  flex-grow: 0;
  align-self: auto;
}

.search--item--7 {
  /* flex:1 1 auto; */
  flex-grow: 0;
  align-self: auto;
}

.search--item--8 {
  /* flex:1 1 auto; */
  flex-grow: 1;
  align-self: auto;
}

.search-container input[type="text"],
.search-container select {
  font: inherit;
  width: 100%;
  height: 35px;
  padding: 6px;
  font-size: 14px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.search-container input[type="text"]:focus,
.search-container select:focus {
  border: 1px solid #0084ff;
}

.search-container select {
  width: 100%;
}

/* View Classes ====================================== */

/* Page Containers */

.ViewClass {
  max-width: 1280px;
  min-height: 260vh;
}

.ViewClass .vc-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

/* Section */

.vc--section01 {
  background: #ecf0f1;
  padding: 2.2% 16.2%;
  height: 436.05px;
  width: 100%;
}

.vc--section02 {
  background: linear-gradient(#001827ec, #001827ec),
    url("/PTS-thesis/static/vc-section02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  height: 496.12800000000004px;
  padding: 2.2% 16.2%;
}

.vc--section03 {
  background: #ecf0f1;
  padding: 2.2% 16.2%;
  height: 436.05px;
  width: 100%;
}

.vc--section02 h2,
.vc--section02 h3,
.vc--section02 p,
.vc--section02 label {
  text-align: left;
  color: #ecf0f1;
}

.vc--section03 h2,
.vc--section03 h3,
.vc--section03 p {
  text-align: left;
  margin: 0;
}

.vc--section04 h2 {
  text-align: left;
  padding: 0 16.2%;
  color: #ecf0f1;
}
.vc--section04 {
  background: #001827;
  padding: 2.2% 0;
}

.vc--section05 {
  height: 80vh;
  background: #ecf0f1;
  padding: 2.2% 0;
}

/* Cards - LP */

.vc--section04 .grid-container {
  display: flex;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 16.6%;
}

/* Block for VC */
.block {
  display: block;
}

.vc-block-01,
.vc-block-02,
.vc-block-03,
.vc-block-04,
.vc-block-05,
.vc-block-06,
.vc-block-07,
.vc-block-08 {
  display: block;
  float: left;
}

.vc-block-01 {
  width: 30%;
}

.vc-block-02 {
  width: 70%;
  padding-left: 3%;
}

.vc-block-03,
.vc-block-04,
.vc-block-05 {
  padding: 1% 1.6% 1% 0;
}

.vc-block-03 {
  width: 50%;
}

.vc-block-04 {
  width: 25%;
}

.vc-block-05 {
  width: 25%;
}

.vc-block-06 {
  width: 30%;
}

.vc-block-07 {
  width: 30%;
}

.vc-block-08 {
  width: 40%;
}

.vc--item1 iframe {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.vc-block-01 .vc--item3 button {
  width: 100%;
  height: 50px;
}

.vc-block-02 label {
  color: #2b2b2b;
}

.vc-block-02 .vc2--item1 label {
  font-size: 60px;
  height: auto;
  text-transform: capitalize;
}

.vc-block-02 img {
  width: 20px;
  height: 20px;
}

.vc--item1,
.vc--item2,
.vc2--item1,
.vc2--item2,
.vc2--item3,
.vc2--item4,
.vc4--item2,
.vc4--item3,
.vc4--item4,
.vc4--item5,
.vc4--item6 {
  margin-bottom: 20px;
  width: 100%;
}

.vc--item1,
.vc--item2 {
  margin-bottom: 12px;
}

.vc2--item5 {
  margin-bottom: 0;
}

.vc2--item4 label:nth-child(2),
.vc2--item3 label:nth-child(2) {
  margin-right: 20px;
}

.vc-block-02 img,
.vc-block-02 label {
  vertical-align: middle;
}

.vc-block-02 .vc2--item2 label,
.vc-block-02 .vc2--item3 label,
.vc-block-02 .vc2--item4 label,
.vc-block-01 .vc--item label {
  font-size: 20px;
  text-transform: capitalize;
}

.vc4--item1 img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.vc4--item2 h2,
.vc4--item2 h3 {
  text-align: left;
  margin: 0;
}

.vc-block-07 img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.vc-block-07 p {
  display: inline-block;
  vertical-align: middle;
}

.vc-block-07,
.vc-block-08 {
  padding: 5% 0;
}

.vc-block-08 p {
  font-size: 18px;
}

/* View ClassList ====================================== */

.classlist {
  max-width: 1280px;
  min-height: 100vh;
}

.classlist .cl-container {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  background: #ecf0f1;
  padding: 10px 16.6%;
  height: 100%;
}

/* Cards - CL */

.cl-container .grid-container {
  display: flex;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 0;
}

.cl-container h2 {
  font-size: 60px;
  font-weight: 300;
  color: #001827;
  text-align: left;
  text-transform: capitalize;
  padding-top: 2%;
}

/* Review Form */

.form-review {
  display: block;
  width: 1280px;
  margin: 10px auto;
}

.form-container {
  background: linear-gradient(#001827cb, #001827ad),
    url("/PTS-thesis/static/aboutusbg03.jpg");
  background-size: 50% 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #0f4c75;
  width: 1200px;
  height: 665px;
  margin: 0 auto;
  padding: 2% 2%;
}

.form-container form {
  float: right;
  width: 50%;
}

.review--right {
  float: right;
  width: 50%;
}

.form-container h2 {
  margin: 0 auto 20px;
}

.form-container h2,
.form-container p {
  text-align: center;
}

.wrapper {
  position: relative;
  display: inline-block;
  border: none;
  font-size: 14px;
  margin: 0px auto 10px;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper label {
  position: relative;
  float: right;
  color: #c8c8c8;
}

.wrapper label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  user-select: none;
}

.wrapper--1 {
  text-align: center;
}

.wrapper--1 textarea {
  border: 1px solid #005c96;
  border-radius: 25px;
  width: 400px;
  height: 200px;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

.wrapper--1 textarea:active {
  border: 1px solid #005c96;
}

.wrapper input:checked ~ label:before {
  color: #0084ff;
}

.wrapper label:hover ~ label:before {
  color: #59bdff;
}

.wrapper label:hover:before {
  color: #0084ff;
}

/* Not Allowed Page ================ */

.success-msg {
  max-width: 1280px;
}

.msg-container {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 1200px;
  height: 500px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.msg-container h2 {
  margin: 0;
}

.msg-container h2#msg-404 {
  font-size: 50px;
}

.msg-container .msg-content i {
  display: flex;
  font-size: 100px;
  color: crimson;
  align-items: center;
}

.msg-container .msg-content i#icon-color {
  color: #00dce4;
}

.msg-container .msg-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  gap: 40px;
}

.msg-content button#msg-btn,
.msg-content button#msg-btn2 {
  width: 180px;
  height: 50px;
}

/* Account Management ======================== */

.am-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.am-container h2 {
  color: #f5f0f0;
  font-size: 50px;
  margin: 0;
}

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 1280px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #dadada;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.table-container-ing {
  width: 1100px;
  height: 346px;
  margin: 0;
  overflow-y: scroll;
}

.table-container-sum {
  width: 100%;
  height: 335px;
  margin: 0;
  overflow-y: scroll;
}

.table-container-am {
  max-height: 665px;
  overflow-y: scroll;
}

.table-container-files {
  width: 100%;
}

.table-container-stones {
  width: 100%;
}

.table-row-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.cc-modal--01 .table-container tr {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.tbl-heading {
  background-color: #ececec;
  color: #3e3e3e;
  font-weight: bold;
}

.th-item {
  display: flex;
  flex: 1;
  font-size: 16px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.cc-modal--01 .table-container td {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.td-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.td-item:nth-child(7) {
  justify-content: flex-end;
  padding-right: 20px;
}

.td-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  /*   box-shadow: 0px 1px 4px rgba(0, 0, 0, .08); */
}

.table-row:last-child,
.row-sub-container .row-item:last-child {
  border-bottom: 0;
}

.tbl-item--1 {
  flex-grow: 0.3;
}

.tbl-item--2 {
  flex-grow: 1;
}

.tbl-item--3 {
  flex-grow: 2;
}

.tbl-item--4 {
  flex-grow: 1;
  text-transform: capitalize;
}

.tbl-item--5 {
  flex-grow: 1;
}

.tbl-item--6 {
  flex-grow: 1;
}

.tbl-item--7 {
  flex-grow: 0.7;
}

.tbl-item--8 {
  flex-grow: 0.5;
}

.cc-modal--01 table tr td:nth-child(1) {
  flex-grow: 2;
}

.cc-modal--01 table tr td:nth-child(2) {
  flex-grow: 2;
}

.cc-modal--01 table tr td:nth-child(3) {
  flex-grow: 0.3;
}
.cc-modal--01 table tr td:nth-child(4) {
  flex-grow: 1;
}

/* .tbl-item--7 { 
  flex-grow: 1;
} */

/* Search */

.am-container .search--item--1 label#am-search {
  color: #eee;
}

/* Class Setup =========================== */
.ccr-step--01 {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10% 0;
}

.ccr-step--02 {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5% 0;
}

.ccr-step--03 {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10% 0;
}

.ccr-step--04 {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 8% 0;
}

.ccr-step--05 {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10% 0;
}

.ccr-summary {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2.5% 0;
}

.ccr-summary .ccr-container {
  opacity: 1;
  width: 1280px;
  height: 800px;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ccr-step--05 .ccr-container {
  opacity: 1;
  width: 800px;
  height: 500px;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: scale(1.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ccr-step--04 .ccr-container {
  opacity: 1;
  width: 800px;
  height: 600px;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: scale(1.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ccr-step--03 .ccr-container {
  opacity: 1;
  width: 800px;
  height: 500px;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: scale(1.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ccr-step--02 .ccr-container {
  opacity: 1;
  width: 1280px;
  height: 700px;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.ccr-step--01 .ccr-container {
  opacity: 1;
  width: 800px;
  height: 500px;
  padding: 20px 30px;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: scale(1.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ccr-section-02 {
  display: flex;
  flex-direction: column;
}

.ccr-section-02 .grid-container {
  display: flex;
  width: 1280px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: inherit;
  flex-direction: row;
  margin: 0 auto;
}

.ccr-section-02 h2#h2-title {
  color: #deedff;
  font-size: 60px;
  font-weight: 200;
}

/* .section-01-ccr .grid-container {
  margin: 0 auto;
} */

.ccr-step--03 .ccr-container .container-edit-left,
.ccr-step--04 .ccr-container .container-edit-left,
.ccr-step--05 .ccr-container .container-edit-left,
.ccr-step--01 .ccr-container .container-edit-left {
  flex-grow: 1;
}

.ccr-step--02 .ccr-container .container-edit-left {
  flex-grow: 1;
}

.ccr-step--02 .ccr-container .container-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 500px;
  gap: 10px;
  flex-grow: 2;
}

.ccr-summary .ccr-container .container-edit-left {
  flex-grow: 1;
}

.ccr-summary .ccr-container .container-edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 700px;
  gap: 10px;
  flex-grow: 3;
  border: 1px solid #aaa;
  border-radius: 7px;
  overflow-y: scroll;
  padding: 20px;
}

.ccr-step--05 .ccr-container .container-edit,
.ccr-step--04 .ccr-container .container-edit,
.ccr-step--03 .ccr-container .container-edit,
.ccr-step--01 .ccr-container .container-edit {
  flex-grow: 2;
}

.ccr-container .container-edit h2 {
  margin: 0;
  text-transform: capitalize;
  text-align: left;
}

.ccr-container .container-edit .form-element-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 0 0;
}

.form-element-btn button#btn-next {
  margin-left: 5px;
}

.ccr-step--03 .container-edit .form-element {
  margin: 10px 0;
}

.ccr-step--04 .container-edit .form-element {
  margin: 5px 0;
}

.ccr-step--03 .container-edit .form-element:nth-child(4) {
  margin-bottom: 0px;
}

.ccr-step--04 .container-edit .form-element:nth-child(7) {
  margin-bottom: 10px;
}

.btn-right {
  float: right;
  margin-top: -40px;
}
.btn-right-02 {
  float: right;
  margin-top: -45px;
}
.btn-right-03 {
  float: right;
  margin-top: 20px;
}

/* Summary Page */

.sum-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.sum-section--01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #0075b4;
  background: #0075b4;
  gap: 50px;
  padding: 20px;
  border-radius: 8px;
}

.sum-section--05 .summary-item--03,
.sum-section--04 .summary-item--03,
.sum-section--01 .summary-item--01 {
  flex-grow: 1;
}

.sum-section--05 .summary-item--04,
.sum-section--04 .summary-item--04,
.sum-section--01 .summary-item--02 {
  flex-grow: 2;
}

.sum-section--02 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #001827;
  background: #001827;
  padding: 20px;
  border-radius: 8px;
}

.sum-section--03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #0075b4;
  background: #0075b4;
  padding: 20px;
  border-radius: 8px;
}

.sum-section--04 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #001827;
  background: #001827;
  padding: 20px;
  border-radius: 8px;
}

.sum-section--05 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #0075b4;
  background: #0075b4;
  padding: 20px;
  border-radius: 8px;
}

.sum-section--04 .sub-item iframe {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.sample-flex-con {
  width: 100%;
}

.sample-flex-con2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.summary-item--04,
.summary-item--03, 
.summary-item--01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-item--04 {
  gap: 20px;
  align-items: flex-start;
}

.summary-item--01 img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.summary-item--03 img {
  width: 175px;
  height: 175px;
}

.summary-item--02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.ccr-summary .container-edit h2 {
  font-weight: 500;
  text-transform: uppercase;
}

.ccr-summary .container-edit label {
  color: #f0f0f0;
}

.ccr-summary .sum-section--05 .sum-title h3,
.ccr-summary .sum-section--04 .sum-title h3,
.ccr-summary .sum-section--03 .sum-title h3,
.ccr-summary .sum-section--02 .sum-title h3 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #f0f0f0;
}

.ccr-summary .sum-section--02 .grid-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.sum-section--02 .card .card-description p {
  margin-bottom: 5px;
}

.sum-section--02 .card .card-description p:last-child {
  margin-bottom: 10px;
}

/* Step Progress Bar */

.ccr-progbar {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.ccr-progbar::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 98%;
  border-left: 2px solid #ccc;
}

.ccr-progbar-item {
  position: relative;
  counter-increment: list;
}

.ccr-progbar-item:not(:last-child) {
  padding-bottom: 20px;
}

.ccr-progbar-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.ccr-progbar-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.ccr-progbar-item.is-done::before {
  border-left: 2px solid #0099ff;
}

.ccr-progbar-item.is-done::after {
  content: "✔";
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid #0099ff;
  background-color: #0099ff;
}

.ccr-progbar-item.current::before {
  border-left: 2px solid #0099ff;
}

.ccr-progbar-item.current::after {
  content: counter(list);
  padding-top: 1px;
  width: 19px;
  height: 18px;
  top: -4px;
  left: -40px;
  font-size: 14px;
  text-align: center;
  color: #0099ff;
  border: 2px solid #0099ff;
  background-color: white;
}

.ccr-progbar h3 {
  display: block;
}

/* Class Content ========================= */
.cc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cc-container .cc--nested-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1280px;
  height: 100%;
  background: #f3f3f3;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #3a3a3ab0;
}

.cc--nested-02 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background-color: #bbdefb;
  height: 100%;
}

.cc--nested-02 .nested-02--header { 
  /* flex:1 1 auto; */
  flex-grow: .5;
  background: #001827;
}
    
.cc--nested-02 .nested-02--body { 
  /* flex:15 1 auto; */
  flex-grow: 3;
  background: #ececec;
}

.cc-container .cc--nested-02 input[type="text"] {
  font: inherit;
  margin-top: 5px;
  padding: 6px;
  font-size: 12px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 40px;
  width: 100%;
}
    
.cc--nested-02 .nested-02--footer { 
  /* flex:1 1 auto; */
  flex-grow: .5;
  background: #0f4c75;
}

.footer--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-flex--01 {
  flex-grow: 2;
  width: 100%;
}

.footer-flex--02 {
  flex-grow: .5;
  width: 100%;
}

.cc-container h2 {
  color: #ddd;
  font-size: 60px;
  margin: 40px 0;
}

h2#cc-step03 {
  color: #deedff;
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 20px;
}

.cc--nested-01 .cc-flex--01 {
  height: 500px;
  width: 500px;
}

.cc--nested-01 .cc-flex--02 {
  height: 500px;
  width: 780px;
}

/* .cc--msg-container {
  background: #deedff;
}

.cc-header {
  background: #0099ff;
  padding: 10px 20px;
  color: #f5f5f5;
  border-top-left-radius: 8px;
  border-left: 1px solid #001827;
}

.cc-userlist {
  padding: 0 50px;
}

.cc-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #001827;
  min-width: 100%;
  min-height: 90px;
}

.cc-item-02 p:nth-child(1){
  font-weight: 600;
}

.cc-row .cc-item-01 img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
} */

#userLeft,
#userRight {
  overflow: auto;
}
#userLeft {
  min-width: 200px;
  background: #f1f1f1;
}
#userRight {
  flex-grow: 1;
}

/* (B) LEFT : USERS LIST */
/* (B1) CURRENT USER */
#userNow {
  font-weight: 700;
  padding: 10px;
  color: #fff;
  background: #0099ff;
}

/* (B2) USERS */
.userRow {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.userRow:hover {
  cursor: pointer;
  background: #ddd;
}
.userRow.now {
  background: #878787;
  font-weight: 700;
}
.userUR {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 5px;
}

/* (C) RIGHT : MESSAGES */
/* (C1) SEND MESSAGE FORM */
#userSend {
  display: none;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #eee;
}
#userSend input {
  padding: 8px;
}
#userSend input[type="text"] {
  width: 100%;
  border: 0;
}
#userSend input[type="submit"] {
  background: #a90101;
  color: #fff;
  font-weight: 700;
  border: 0;
}

/* (C2) MESSAGES */
#userMsg {
}
.mout,
.min {
  padding: 10px;
  margin: 10px;
}
.mout {
  background: #deedff;
}
.min {
  text-align: right;
  background: #fff1f1;
}
.mdate {
  font-size: 0.9em;
  color: #878787;
}
.mtxt {
  padding: 5px 0;
}
